{% extends "base.html.twig" %}

{% block content %}
    <div  class="col-sm-12 col-lg-12 col-xl-12 mt-4">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {% if label == 'success' %}
                        <span class="alert-inner--icon"><i class="fa fa-thumbs-up"></i></span>
                    {% else %}
                        <span class="alert-inner--icon"><i class="fa fa-thumbs-down"></i></span>
                    {% endif %}
                    <span class="alert-inner--text"><strong>{{ label | title }} : </strong> {{ message | raw }}</span>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class='row'>
       <div class='col-10 my-4 mx-auto'>
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center mb-5">{{ article.title }}</h1>
                    <p class="h4 text-center mb-3 text-secondary">{{ article.subtitle }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center text-muted">Crée le : {{ article.createdAt | date("m/d/Y") }} | Par : {{ article.author.firstname }} {{ article.author.lastname }}  </li>
                </ul>
                <img class="img-custom" src="{{ asset('uploads/' ~ article.photo) }}" alt="{{ article.title }}">
                <div class="card-body">
                    <p class="card-text my-4 col-10 mx-auto">{{ article.content | raw }}</p>
                </div>
            </div>
        </div>
    </div>
    {{ render(url('add_commentary', {'id' : article.id})) }}

    {% if commentaries is not null %}

        <div class='row'>
            <div class='col-8 mx-auto'>
                <h3>Commentaires</h3>
                {% for commentary in commentaries %}
                    <p class="bg-light">{{ commentary.comment }}</p>
                {% endfor %}
            </div>
        </div>
        
    {% endif %}
{% endblock %}